In [3]:
## for data query
import cx_Oracle


## Data loading, processing and for more
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE

## Visualization
import seaborn as sns
import matplotlib.pyplot as plt
# set seaborn style because it prettier
sns.set()

## Metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import roc_curve, auc

## Models
import xgboost as xgb
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

import time
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
dsn = cx_Oracle.makedsn("dwh-scan.kapitalbank.az", 1521, service_name="report")

connection = cx_Oracle.connect(user='SAMADOVIAZ_15121[FRAUD]',password='Dwh02##3FF85A092E0EA35974',dsn=dsn)

In [5]:
query_january = """ SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(d.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.01.2023','DD.MM.YYYY')and TO_DATE('01.02.2023','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [6]:
query_december="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.12.2022','DD.MM.YYYY')and TO_DATE('01.01.2023','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [8]:
query_november="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.11.2022','DD.MM.YYYY')and TO_DATE('01.12.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [9]:
query_october="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.10.2022','DD.MM.YYYY')and TO_DATE('01.11.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [10]:
query_september="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.09.2022','DD.MM.YYYY')and TO_DATE('01.10.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [11]:
query_august="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.08.2022','DD.MM.YYYY')and TO_DATE('01.09.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [19]:
query_july="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.07.2022','DD.MM.YYYY')and TO_DATE('01.08.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [23]:
query_june="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.06.2022','DD.MM.YYYY')and TO_DATE('01.07.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [35]:
query_may="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.05.2022','DD.MM.YYYY')and TO_DATE('01.06.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [37]:
query_aprel="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.04.2022','DD.MM.YYYY')and TO_DATE('01.05.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [42]:
query_march="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.03.2022','DD.MM.YYYY')and TO_DATE('01.04.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [41]:
query_february="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.02.2022','DD.MM.YYYY')and TO_DATE('01.03.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [44]:
query_jan="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.01.2022','DD.MM.YYYY')and TO_DATE('01.02.2022','DD.MM.YYYY')
   AND A.ENTTYPE ='S'
   and A.lcy_amount >0"""

In [103]:
query_fraud ="""SELECT /* parallel*/
       b.pin as customer,
       ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
       b.GENDER,
       c.mcc_group,
       ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
       a.lcy_amount as amount
  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D       ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c ON a.mcc = c.mcc
 WHERE A.ENTTYPE ='S'
   and A.lcy_amount >0
   AND b.pin IN ( '4YW6L4W',
                  '573S45Z',
                  '5J3258D',
                  '69GUNU3',
                  '5ZSWTUX',
                  '5VJ1EWF',
                  '63U87MW',
                  '4UJVKAA',
                  '5Y9C7G3',
                  '5VN4YK0',
                  '4YW6L4W',
                  '5RSZMXG',
                  '4QQKN3D',
                  '11HHDHT',
                  '28GM43V',
                  '25BF3G4',
                  '2NHFDNH',
                  '4KE5FEK',
                  '5XE84TA',
                  '1HM25NO')"""

In [ ]:
query_february ="""SELECT /* parallel*/
 b.pin as customer,
 ROUND((SYSDATE - b.BIRTH_DATE) / 365, 0) AS AGE,
 b.GENDER,
 c.mcc_group,
 ROUND((SYSDATE-TO_DATE(E.HIREDATE,'DD.MM.YYYY'))/30) EXPERIENCE_BY_MONTH
 a.lcy_amount as amount,
 ROUND((SYSDATE - TO_DATE(D.HIREDATE, 'DD.MM.YYYY')) / 30) EXPERIENCE_BY_MONTH,
 CASE
   WHEN b.pin IN ('4YW6L4W',
                  '573S45Z',
                  '5J3258D',
                  '69GUNU3',
                  '5ZSWTUX',
                  '5VJ1EWF',
                  '63U87MW',
                  '4UJVKAA',
                  '5Y9C7G3',
                  '5VN4YK0',
                  '4YW6L4W',
                  '5RSZMXG',
                  '4QQKN3D',
                  '11HHDHT',
                  '28GM43V',
                  '25BF3G4',
                  '2NHFDNH',
                  '4KE5FEK',
                  '5XE84TA',
                  '1HM25NO') THEN
    1
   ELSE
    0
 END AS FRAUD

  FROM CMS.F_TRANSACTION_DETAILS A
 INNER JOIN DWH.D_CUSTOMER B
    ON A.IDCLIENT = B.CMS_ID
 INNER JOIN FRAUD.EMP_2 D
    ON B.PIN = D.FIN
 INNER JOIN cms.d_mcc_details c
    ON a.mcc = c.mcc
 WHERE A.VALUE_DATE between TO_DATE('01.02.2022', 'DD.MM.YYYY') and
       TO_DATE('01.03.2022', 'DD.MM.YYYY')
   AND A.ENTTYPE = 'S'
   and A.lcy_amount > 0"""

In [5]:
%%time

df_january=pd.read_sql(query_january,con=connection)

df_december=pd.read_sql(query_december,con=connection)

df_november=pd.read_sql(query_november,con=connection)

df_october=pd.read_sql(query_october,con=connection)

df_september=pd.read_sql(query_september,con=connection)

df_august=pd.read_sql(query_august,con=connection)

df_july=pd.read_sql(query_july,con=connection)

df_june=pd.read_sql(query_june,con=connection)

df_may=pd.read_sql(query_may,con=connection)

df_aprel=pd.read_sql(query_aprel,con=connection)

df_march=pd.read_sql(query_march,con=connection)

df_february=pd.read_sql(query_february,con=connection)

df_jan=pd.read_sql(query_jan,con=connection)

df_fraud=pd.read_sql(query_fraud,con=connection)

In [ ]:
df_union= pd.concat([df_jan,
                     df_february,
                     df_march,
                     df_aprel,
                     df_may,
                     df_june,
                     df_july,
                     df_august, 
                     df_september,
                     df_october,
                     df_november,
                     df_december,
                     df_january],ignore_index=True).drop_duplicates().reset_index(drop=True)
# df_union.to_excel('df_union.xlsx', engine='xlsxwriter')